---
type Props = {
    title: string;
    description?: string;
    footnote?: string;
    ogTitle?: string;
    ogImage?: string;
    ogDescription?: string;
    noIndex?: boolean;
    fullBleed?: boolean;
};

const {
    title,
    description,
    footnote,
    ogImage,
    ogDescription,
    ogTitle,
    noIndex,
    fullBleed = false,
} = Astro.props;
import "../font.css";
import "../styles/global.css";
import "../styles/pastel.css";
import NavBar from "../components/navBar.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/new-anyquery-logo.svg" />
        <link rel="icon" type="image/png" href="/new-anyquery-logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:sitename" content="Anyquery" />
        {description && <meta name="description" content={description} />}
        <link rel="sitemap" href="/sitemap-index.xml" />
        {noIndex && <meta name="robots" content="noindex" />}
        {ogImage && <meta property="og:image" content={ogImage} />}
        {ogTitle && <meta property="og:title" content={ogTitle} />}
        {
            ogDescription && (
                <meta property="og:description" content={ogDescription} />
            )
        }
    </head>
    <body
        
    >
            <div
            class="w-full bg-amber-100 text-amber-900 text-center p-4  mb-1 font-ui rounded-b-2xl"
            >
            <div class="max-w-3xl mx-auto flex flex-col">
                <h1 class="text-md font-semibold tracking-tight">Available for an internship</h1>
                <p class="text-xs">
                    I’m seeking a 6-month software engineering internship starting in January 2027. Based in France, I’m open to both remote roles and relocation. For any opportunities, please contact me at <a href="mailto:contact@julienc.me" class="underline">
                        contact@julienc.me
                    </a> <br />
                    You can find my resume <a href="https://julienc.me/resume.pdf" class="underline">here</a>.
                </p>
            </div>
            </div>
        <main
        class:list={[
            "aq-grain",
            !fullBleed && "max-w-5xl mx-auto min-h-screen flex flex-col px-6",
        ]}
        >
            
        <NavBar fullBleed={fullBleed} />
        {!fullBleed && <div class="py-2"><!-- Hey, hello you ! --></div>}
        <slot />
        {!fullBleed && <div class="py-2 mt-auto"><!-- goodbye --></div>}
        <Footer footnote={footnote} fullBleed={fullBleed} />
        </main>
        <script
            data-collect-dnt="true"
            async
            defer
            src="https://sa.anyquery.dev/latest.js"></script>
        <noscript>
            <img
                src="https://sa.anyquery.dev/noscript.gif?collect-dnt=true"
                alt=""
                referrerpolicy="no-referrer-when-downgrade"
            />
        </noscript>
    </body>
</html>
