---
type Props = {
    title: string;
    description?: string;
    footnote?: string;
    ogTitle?: string;
    ogImage?: string;
    ogDescription?: string;
    noIndex?: boolean;
    fullBleed?: boolean;
};

const {
    title,
    description,
    footnote,
    ogImage,
    ogDescription,
    ogTitle,
    noIndex,
    fullBleed = false,
} = Astro.props;
import "../font.css";
import "../styles/global.css";
import "../styles/pastel.css";
import NavBar from "../components/navBar.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:sitename" content="Anyquery" />
        {description && <meta name="description" content={description} />}
        <link rel="sitemap" href="/sitemap-index.xml" />
        {noIndex && <meta name="robots" content="noindex" />}
        {ogImage && <meta property="og:image" content={ogImage} />}
        {ogTitle && <meta property="og:title" content={ogTitle} />}
        {
            ogDescription && (
                <meta property="og:description" content={ogDescription} />
            )
        }
    </head>
    <body
        class:list={[
            "aq-grain",
            !fullBleed && "max-w-5xl mx-auto min-h-screen flex flex-col",
        ]}
    >
        <NavBar fullBleed={fullBleed} />
        {!fullBleed && <div class="py-2"><!-- Hey, hello you ! --></div>}
        <slot />
        {!fullBleed && <div class="py-2 mt-auto"><!-- goodbye --></div>}
        <Footer footnote={footnote} fullBleed={fullBleed} />
        <script
            data-collect-dnt="true"
            async
            defer
            src="https://sa.anyquery.dev/latest.js"></script>
        <noscript>
            <img
                src="https://sa.anyquery.dev/noscript.gif?collect-dnt=true"
                alt=""
                referrerpolicy="no-referrer-when-downgrade"
            />
        </noscript>
    </body>
</html>
