---
import { slugify } from "../../functions/slugify";
import Main from "../../layouts/main.astro";
import { getCollection } from "astro:content";

// Get all the remote plugins
const fetchReg = await fetch("https://registry.anyquery.dev/v0/registry/", {
    headers: {
        "Content-Type": "application/json",
    },
});

type apiResponse = {
    plugins: [
        {
            name: string;
            display_name: string;
            description: string;
            icon: string;
            type: string;
            author: string;
        },
    ];
};

const allPlugins: apiResponse = await fetchReg.json();

// Sort the plugins by name
allPlugins.plugins.sort((a, b) => a.display_name.localeCompare(b.display_name));

const remotePlugins = allPlugins.plugins.filter((plugin) => {
    // Filter out test plugins that start with "sample"
    return plugin.type === "anyquery" && !plugin.name.startsWith("sample");
});

const libraryPlugins = allPlugins.plugins.filter((plugin) => {
    return plugin.type === "sharedObject";
});

// Get all the integrations guides
const integrations = await getCollection("integrations");

// Get all the databases
const databases = await getCollection("databases");

// Get all the chats
const chats = await getCollection("chats");
---

<Main
    title="Integrations - Anyquery"
    footnote="Trademarks are the property of their respective owners. Anyquery is not affiliated with any of the companies or projects mentioned."
>
    <div
        class="absolute h-[480px] w-[480px] -right-24 top-20 rounded-full bg-lavender opacity-50 blur-[40px] z-0"
    >
    </div>
    <div
        class="absolute h-[360px] w-[360px] -left-24 top-[800px] rounded-full bg-peach opacity-50 blur-[40px]"
    >
    </div>
    <h1 class="text-5xl font-display text-ink font-normal" id="databases">
        Attach a <em class="text-peach-700">database</em>
    </h1>
    <p class="break-words text-sm text-black/60 mt-1">
        Using Anyquery, you can connect to a variety of databases. Insert data,
        join tables across databases, and more. <br />
        Learn more about how to connect a database in our{" "}<a
            href="/docs/database/"
            class="underline">documentation</a
        >.
    </p>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 mt-3 z-2">
        {
            databases
                .sort((a, b) => a.data.name.localeCompare(b.data.name))
                .map((db) => (
                    <a
                        href={db.data.url}
                        class="flex flex-col p-4 rounded-lg bg-white/30 border border-black/10"
                    >
                        <img
                            src={db.data.icon}
                            alt={db.data.name}
                            class="max-w-10 h-10 rounded-md"
                        />
                        <h2 class="text-2xl mt-3 font-display tracking-normal ">
                            {db.data.name}
                        </h2>
                        <p class="break-words text-sm text-black/60 border-b border-black/10 pb-4 mb-4">
                            {db.data.description}
                        </p>
                        <div class="flex gap-2 items-center mt-auto">
                            <p class="text-[0.6rem] px-2 py-1 bg-green-300/50 rounded-2xl max-w-fit text-black/90 uppercase tracking-wide">
                                OFFICIAL
                            </p>
                            <p class="text-xs text-black/60">
                                Made by Anyquery
                            </p>
                        </div>
                    </a>
                ))
        }
    </div>
    <h1 class="text-5xl font-display text-ink font-normal mt-8" id="plugins">
        Extend with <em class="text-peach-700">plugins</em>
    </h1>
    <p class="break-words text-sm text-black/60 mt-1">
        Query data from various sources, including APIs and local applications.
    </p>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 mt-3 z-2">
        {
            remotePlugins.map((plugin) => (
                <a
                    href={`/integrations/${slugify(plugin.name)}`}
                    class="flex flex-col p-8 rounded-md bg-white/30 border border-black/10 hover:bg-white/70 transition"
                >
                    <img
                        src={plugin.icon}
                        alt={plugin.display_name}
                        class=" w-10 aspect-auto"
                    />
                    <h2 class="text-2xl font-display mt-3">
                        {plugin.display_name}
                    </h2>
                    <p class="break-words text-sm text-black/60 mb-4">
                        {plugin.description}
                    </p>
                    <div class="flex gap-2 items-center mt-auto border-t border-black/10 pt-4">
                        <p
                            class:list={[
                                "text-[0.6rem] px-2 py-1 bg-blue-300/50 rounded-2xl max-w-fit text-black/90 uppercase tracking-wide",
                                {
                                    "bg-blue-300/50":
                                        plugin.author.toLowerCase() ===
                                        "julien040",
                                    "bg-purple-300/50":
                                        plugin.author.toLowerCase() !==
                                        "julien040",
                                },
                            ]}
                        >
                            {plugin.author.toLowerCase() === "julien040"
                                ? " OFFICIAL"
                                : "COMMUNITY"}
                        </p>
                        <p class="text-xs text-black/60">By {plugin.author}</p>
                    </div>
                </a>
            ))
        }
    </div>

    <h1 class="text-5xl font-display text-ink font-normal mt-8" id="libraries">
        Use <em class="text-peach-700">SQLite libraries</em>
    </h1>
    <p class="break-words text-sm text-black/60 mt-1">
        Because Anyquery is based on SQLite, download and use SQLite libraries
        to extend the functionality of your queries.
    </p>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 mt-3 z-2">
        {
            libraryPlugins.map((plugin) => (
                <a
                    href={`/integrations/${slugify(plugin.name)}`}
                    class="flex flex-col p-8 rounded-md bg-white/30 border border-black/10 hover:bg-white/70 transition"
                >
                    <h2 class="text-2xl font-display">{plugin.display_name}</h2>
                    <p class="break-words text-sm text-black/60 mb-2">
                        {plugin.description}
                    </p>
                    <div class="flex gap-2 items-center pt-4 border-t border-black/10 mt-auto">
                        <img
                            src={plugin.icon}
                            alt={plugin.author}
                            class="w-6 h-6 rounded-md"
                        />
                        <p class="text-xs text-black/60">by {plugin.author}</p>
                    </div>
                </a>
            ))
        }
    </div>

    <h1 class="text-5xl mt-8 font-display" id="guides">
        Discover more with <em class="text-peach-700">guides</em>
    </h1>
    <p class="break-words text-sm text-black/60 mt-1">
        Guides on reusing plugins for other integrations.
    </p>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 mt-4">
        {
            integrations.map((integration) => (
                <a
                    href={`/integrations/${integration.slug}`}
                    class="flex flex-col p-8 rounded-md bg-white/30 border border-black/10 hover:bg-white/70 transition"
                >
                    <img
                        src={integration.data.icon}
                        alt={integration.data.title}
                        class="w-10 h-10"
                    />
                    <h2 class="text-lg mt-3">{integration.data.title}</h2>
                    <p class="break-words text-sm text-black/60">
                        {integration.data.description}
                    </p>
                </a>
            ))
        }
    </div>
    <h1 class="text-5xl mt-8 font-display" id="llm">
        <em class="text-peach-700">Chat with your data</em> using LLMs
    </h1>
    <p class="break-words text-sm text-black/60 mt-1">
        Connect Anyquery to LLMs to chat with your data.
    </p>

    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 mt-4">
        {
            chats.map((chat) => (
                <a
                    href={chat.data.url}
                    class="flex flex-col p-8 rounded-md bg-white/30 border border-black/10 hover:bg-white/70 transition"
                >
                    <img
                        src={chat.data.icon}
                        alt={chat.data.name}
                        class="w-10 h-10"
                    />
                    <h2 class="text-lg mt-3">{chat.data.name}</h2>
                    <p class="break-words text-sm text-black/60">
                        {chat.data.description}
                    </p>
                </a>
            ))
        }
    </div>
</Main>
